.topnav{
    background-color: rgb(87, 85, 85);
    overflow: hidden;
}

.topnav a{
    color: #393434;
    float: left;
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 14px 16px;
}
.topnav a:hover{
    color: rgb(41, 0, 0);
    background-color: #afa6a6;
    text-decoration: none;
}

.topnav-right{
    float: right;
}