table{
    border: solid 1px #2c74c7;
    width: 70%;
    border-collapse: collapse;
}
td{
    border: solid 1px #373737;
    padding: 5px;
    text-align: left;
}
th{
    background-color: rgba(20, 1, 1, 0.9);
    color: rgba(255, 255, 255, 90%);
    padding: 5px;
    text-align: left;
}
tr:nth-child(odd){
    background-color: bisque;
}
tr:hover{
    background-color: rgb(243, 235, 225);
}